
.pages {
    background: white;
    position: relative;
    width: 100%;
    height: 100vh;

    /* 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    position: absolute;
    width: 60%;
    height: 60%;
}